<div class="container">
  <div class="row">
    <div class="col-sm">
      <button (click)="powerOn();" class="btn btn-success">Power On</button>
    </div>
    <div class="col-sm">
      <button (click)="powerOff();" class="btn btn-danger">Power Off</button>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-8">
      <input type="text" #frequencyInput [value]="frequency" (keyup.enter)="setFrequency(frequencyInput.value);" />
    </div>
    <div class="col-sm-4">
      <div ngbDropdown class="d-inline-block">
        <button class="btn btn-outline-primary" id="mode" ngbDropdownToggle>Mode</button>
        <div ngbDropdownMenu aria-labelledby="mode">
          <button ngbDropdownItem *ngFor="let m of modeOptions" (click)="setMode(m);">{{ m }}</button>
        </div>
      </div>
    </div>
  </div>
</div>
