<div class="container">
  <div class="row">
    <div class="col-xs-6 text-center">
      <button (click)="powerOn();" class="btn btn-success">Power On</button>
    </div>
    <div class="col-xs-6 center text-center">
      <button (click)="powerOff();" class="btn btn-danger">Power Off</button>
    </div>
  </div>

  <div class="row text-center">
    <div class="col-xs-12 text-center">
      <div class="input-group">
        <span class="input-group-btn">
          <button type="button" class="btn btn-danger btn-number" data-type="minus" (click)="decreaseFrequency();">
            <fa-icon [icon]="faMinus"></fa-icon>
          </button>
        </span>
        <input type="text" #frequencyInput [value]="frequency" (keyup.enter)="setFrequency(frequencyInput.value);" class="form-control input-number" />
        <span class="input-group-btn">
          <button type="button" class="btn btn-success btn-number" data-type="plus" (click)="increaseFrequency();">
            <fa-icon [icon]="faPlus"></fa-icon>
          </button>
        </span>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-8">
      <div ngbDropdown class="d-inline-block">
        <button class="btn btn-outline-primary" id="mode" ngbDropdownToggle>Mode</button>
        <div ngbDropdownMenu aria-labelledby="mode">
          <button ngbDropdownItem *ngFor="let m of modeOptions" (click)="setMode(m);">{{ m }}</button>
        </div>
      </div>
    </div>
  </div>
</div>
